@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  color: #BDAE82;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  margin: 0;
  color: #FFFFFF;
  background-color: #000000;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1350px;
  margin: auto;
  padding: 0 20px;
}

.header {
  align-items: center;
  background: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 45pc;
}

.header_content {
  margin-left: 50px;
  margin-top: 6rem;
}
.header_content p {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #FFFFFF;
  margin: 0;
}

.btn {
  background: #BDAE82;
  width: 220px;
  height: 55px;
  border: none;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin-top: 25px;
  font-family: inherit;
}
.btn:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.dws-menu {
  display: flex;
  align-items: center;
}
.dws-menu ul {
  display: flex;
  list-style: none;
}
.dws-menu li {
  margin-left: 30px;
}
.dws-menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
}
.dws-menu :hover {
  cursor: pointer;
}

.logo img :hover {
  fill: #BDAE82;
  cursor: pointer;
}

.language {
  display: flex;
  margin-left: 31px;
  align-items: center;
}
.language p {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  color: #BDAE82;
}

.skills_card {
  width: 310px;
  padding: 40px 20px;
  text-align: center;
}
.skills_card :hover {
  cursor: pointer;
}
.skills_card p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.skills_block_card {
  display: flex;
}

.skill {
  width: 500px;
  background-color: #000000;
  text-align: center;
  display: flex;
}

.portfolio_foto {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-top: -25px;
  justify-content: center;
}
.portfolio_foto img {
  margin: 0;
  margin-left: 25px;
  margin-top: 25px;
}
.portfolio_foto img:hover {
  cursor: pointer;
}

.portfolio_navigation_block {
  margin-top: -12px;
  display: flex;
  justify-content: center;
  margin-left: -5px;
  margin-bottom: 6rem;
}

.portfolio_navigation {
  width: 220px;
  height: 55px;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0;
  margin-left: 5px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #BDAE82;
}
.portfolio_navigation:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.lang {
  background: rgba(189, 174, 130, 0);
  color: #FFFFFF;
  font-size: 20px;
  border: none;
  line-height: 50px;
}

.portfolio_navigation_active {
  background-color: #BDAE82;
  color: #000000;
  margin-left: 8px;
  width: 220px;
  height: 55px;
  border: none;
}
.portfolio_navigation_active p {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 55px;
  color: #000000;
}
.portfolio_navigation_active p:hover {
  color: #FFFFFF;
  cursor: pointer;
}

.contacts {
  background-image: url("img/contacts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 45pc;
}

.prise_card_block {
  display: flex;
  margin-left: -25px;
  margin-bottom: 10rem;
}

.card {
  padding: 43px;
}

.prise_card {
  width: 450px;
  text-align: center;
  border: 3px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0;
  margin-left: 25px;
  flex-wrap: wrap;
}
.prise_card :hover {
  cursor: pointer;
}
.prise_card h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}
.prise_card p {
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.gold p {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #BDAE82;
}

.contact_block {
  display: flex;
  justify-content: end;
  padding-top: 60px;
}

.email, .phone, .message {
  width: 450px;
  border: 2px solid #BDAE82;
  box-sizing: border-box;
  border-radius: 0;
  background-color: rgba(189, 174, 130, 0);
  padding: 15px;
  color: #BDAE82;
  font-size: 20px;
}

::placeholder {
  color: #BDAE82;
  font-size: 20px;
}

input, textarea {
  outline: none;
}

.mail {
  padding-top: 45px;
  margin-bottom: 20px;
}

.mess {
  padding-top: 20px;
}

.message {
  height: 100px;
}

.contact {
  width: 450px;
}
.contact h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
}

.git a {
  text-decoration: none;
}

.git p {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
}

.git :hover {
  cursor: pointer;
}

.nav_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer_block {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer_button {
  display: flex;
  align-items: center;
}
.footer_button svg {
  padding: 10px;
}
.footer_button :hover {
  cursor: pointer;
}

.title {
  overflow: hidden;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.title span {
  display: inline-block;
  vertical-align: middle;
}

.title:before,
.title:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  background-color: #BDAE82;
  position: relative;
}

.title:before {
  margin-left: -100%;
  left: -14px;
}

.title:after {
  margin-right: -100%;
  right: -14px;
}

.container {
  position: relative;
}

.container img {
  width: 100%;
  height: auto;
}

.btnn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

.burger-menu {
  display: none;
}

@media only screen and (max-width: 1180px) {
  .wrapper {
    max-width: 1020px;
    margin: auto;
    padding: 40px;
  }

  .prise_card_block {
    flex-wrap: wrap;
  }

  .skills_block_card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .prise_card {
    margin-top: 50px;
  }

  .prise_card_block {
    margin-top: -20px;
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    max-width: 780px;
    margin: auto;
    padding: 40px;
  }

  .skills_block_card {
    flex-wrap: wrap;
  }

  .prise_card_block {
    justify-content: center;
  }

  .header_content {
    margin-left: 0;
  }

  h1 {
    font-size: 32px;
    line-height: 64px;
  }

  .header_content p {
    font-size: 20px;
    line-height: 40px;
  }

  .dws-menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }

  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu-item:hover {
    background-color: #CFD8DC;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: 0.25s;
  }

  .menu-btn > span::before {
    content: "";
    top: -8px;
  }

  .menu-btn > span::after {
    content: "";
    top: 8px;
  }

  .menubox {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 38px 0;
    list-style: none;
    background-color: #000000;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: #f5f5f5;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu-item:hover {
    background-color: #BDAE82;
  }

  #menu-toggle {
    opacity: 0;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menubox {
    visibility: visible;
    left: 0;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    max-width: 480px;
    margin: auto;
    padding: 40px;
  }

  h2 {
    font-size: 32px;
  }

  .contact h1 {
    font-size: 32px;
  }

  .btnn {
    display: none;
  }

  .dws-menu {
    display: none;
  }

  .header_content p {
    max-width: 320px;
  }

  .portfolio_navigation_block {
    flex-wrap: wrap;
    margin-top: -30px;
  }

  .portfolio_navigation, .portfolio_navigation_active {
    margin-top: 30px;
  }

  .contact_block {
    justify-content: start;
  }

  .email, .phone, .message {
    width: 320px;
  }

  .portfolio_foto img {
    max-width: 320px;
  }
}
@media screen and (max-width: 350px) {
  .wrapper {
    max-width: 320px;
    margin: auto;
    padding: 40px;
  }

  .header_content p {
    max-width: 250px;
  }

  .portfolio_foto img {
    max-width: 280px;
  }

  .email, .phone, .message {
    width: 250px;
  }

  .footer_block {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
